name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - main

env:
  MIX_ENV: test

jobs:
  validate_1_13:
    name: Validate PR against 1.13
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          otp-version: 25.1.x
          elixir-version: 1.13.x

      - name: Restore dependencies cache
        id: mix_cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: mix-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: mix-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-

      - name: Install Dependencies
        run: |
          mix deps.get
          mix deps.compile

      - name: Run test
        run: mix test

  validate_1_14:
    name: Validate PR against 1.14
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          otp-version: 25.1.x
          elixir-version: 1.14.x

      - name: Restore dependencies cache
        id: mix_cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: mix-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: mix-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-

      - name: Install Dependencies
        run: |
          mix deps.get
          mix deps.compile

      - name: Run test
        run: mix test

  # run all steps on latest supported
  validate_1_15:
    name: Validate PR against 1.15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          otp-version: 25.1.x
          elixir-version: 1.15.x

      - name: Restore dependencies cache
        id: mix_cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: mix-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: mix-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-

      - name: Install Dependencies
        run: |
          mix deps.get
          mix deps.compile
          MIX_ENV=dev mix deps.compile

      - name: Restore PLT cache
        id: plt_cache
        uses: actions/cache/restore@v4
        with:
          path: priv/plts
          key: plt-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: plt-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-

      - name: Create PLTs
        if: steps.plt_cache.outputs.cache-hit != 'true'
        run: MIX_ENV=dev mix dialyzer --plt

      # By default, the GitHub Cache action will only save the cache if all
      # steps in the job succeed, so we separate the cache restore and save
      # steps in case running dialyzer fails.
      - name: Save PLT cache
        id: plt_cache_save
        uses: actions/cache/save@v4
        if: steps.plt_cache.outputs.cache-hit != 'true'
        with:
          key: plt-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-${{ hashFiles('**/mix.lock') }}
          path: priv/plts

      - name: Run format
        run: mix format --check-formatted

      - name: Run credo
        run: mix credo

      - name: Run test
        run: mix test

      # dialyzer takes longer to run, let others fail faster.
      - name: Run dialyzer
        run: MIX_ENV=dev mix dialyzer --format github

  validate_unlocked:
    name: Validate Code With Unlocked Dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          otp-version: 25.1.x
          elixir-version: 1.15.x

      - name: Restore dependencies cache
        id: mix_cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: mix-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: mix-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-

      - name: Install Dependencies
        run: |
          mix deps.unlock --all
          mix deps.get
          mix deps.compile

      - name: Run test
        run: mix test
